  <div class="conecting">
    <% if  @musician.friends_with?(current_user) %>
      <!-- <p>You are already connected!</p> -->
      <p>
        <%= link_to remove_musician_path(@musician) do%>
          <span>Remove connection  </span><i class="fa fa-times-circle"></i>
        <% end %>
        <%elsif @musician.pending_friends.include?(current_user)%>
      <!-- <p>You are pending connection!</p> -->
      <p><%= link_to "Remove connection", remove_musician_path(@musician) , class: "btn btn-primary btn-lg" %>

      </p>
    <%elsif @musician.pending_friends.include?(current_user)%>
      <!-- <p>You are pending connection!</p> -->
      <p><%= link_to "Remove connection", remove_musician_path(@musician) , class: "btn btn-primary btn-lg" %></p>
    <%else%>
    <% if current_user != @musician %>

      <p><%= link_to "Connect", connect_musician_path(@musician) , class: "btn btn-primary btn-lg" %></p>
    <%end%>

    <%end%>
    <!-- btn block use only works if firends -->
    <% if  @musician.friends_with?(current_user) %>
      <p><%= link_to block_musician_path(@musician) do%>
  <span>Block  </span><i class="fa fas fa-ban"></i>
  <% end %></p>
    <% elsif  current_user.blocked_friends.include?(@musician) %>
    <p><%= link_to "UNBLOCK", unblock_musician_path(@musician) , class: "" %></p>
    <%end%>
  </div>





