

<div class="profile-container">

  <div class="profile-info">
    <div class="banner-profile" style="background-image: linear-gradient(-225deg, rgba(25,25,25,0.6) 0%, rgba(178,12,12,0.6) 98%),url('<%= cl_image_path(@musician.banner) %>');">
    </div>
    <div class="photo-name" >
      <%= cl_image_tag @musician.avatar, height: 295, width: 230,  crop: :thumb,  class: "avatar-profile" %>

      <h2><%= @musician.first_name.capitalize %> <%= @musician.last_name.capitalize %></h2>


      <p> Instrument <strong class= "skills"><%= @musician.instrument %></strong>
        Level<strong class= "skills"><%= @musician.level %></strong>
        Genre<strong class= "skills"><%= @musician.genre %></strong>
      </p>
    </div>
  </div>

  <div class="profile-content">
    <div class=profile-info-left>
      <h4> <%= @musician.city %>, <%= @musician.country %></h4>
      <% if current_user == @musician %>
      <p>
        <%= link_to edit_user_registration_path(@user) do%>
          <span>Edit Profile  </span><i class="fa fa-edit"></i>
          <% end %>

        <br>
        <%= link_to user_registration_path(@user), class: "", method: :delete, data: { confirm: "Are you sure?" } do%>
          <span>Delete Profile  </span><i class="fa fa-trash"></i>
          <% end %>
      </p>
        <% end %>

      <% if current_user == @musician %>
      <p><%= link_to "Create a project", new_project_path, class: "btn btn-primary btn-lg" %></p>
      <% end %>


      <%= render 'connections/connection_button' %>
      <div class="friends">
        <h3>Friends</h3>
        <div class= "friends-avatars">

          <% @connections.each do |connection| %>
          <%= link_to musician_path(connection) do  %>
          <%= cl_image_tag connection.avatar, width: 50, height: 50, crop: :fill , class: "participant" %>

          <% end %>
          <% end %>
        </div>
       </div>
     </div>


      <div class="profile-info-right">

        <div class= "about">
          <h3 class="mt-4">ABOUT ME</h3>
          <p class="about-content" ><%= @musician.about %></p>
        </div>


        <div class= "media">
          <% if @musician.media %>
          <!-- <h4 class="mt-4">Media:</h4> -->
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/<%= @musician.media.split("/").last.gsub("watch?v=", '') %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <% end %>
        </div>

        <div class="profile-social">
          <div class="social">
            <a href="#"><i class="fa fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
                    <!-- <li><a href="https://www.linkedin.com/" target="_blank"><i class="rsicon rsicon-linkedin"></i></a></li>
                    <li><a href="https://instagram.com/" target="_blank"><i class="rsicon rsicon-instagram"></i></a></li>
                    <li><a href="https://plus.google.com/" target="_blank"><i class="rsicon rsicon-google-plus"></i></a></li> -->
          </div>
        </div>


      </div>

    </div>
</div>




































































