
<%= render 'shared/banner' %>
<div class="container">
   <!-- <div class="row">

      <%#= image_tag "image_gitar_background.jpg", class: "img-responsive" %>

  </div> -->
</div>




<!--  musicians -->
<div class="container">
  <div class="row">
    <div class="heading-title text-center text-home">
      <h3 class="text-uppercase">Connect with other musicians to play with </h3>
    </div>
    <%= render "musicians/cards" %>
  </div>
</div>
<!-- code for projects -->
<div class="container">
  <div class="row projects-home">
    <div class="heading-title text-center text-home">
      <h3 class="text-uppercase">Join to different music projects </h3>
    </div>
    <%= render "projects/cards" %>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="heading-title text-center">
      <h3 class="text-uppercase">Connect with other musicians to play with </h3>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "IMG_1184.JPG", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Almudena</h5>
        <span>Singer</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "20180214160414.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Aron</h5>
        <span>Drumm</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "20180214155646.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Nadia</h5>
        <span>Trompet</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "20180214160726.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Davis</h5>
        <span>Guitar</span>
      </div>
    </div>
  </div>
</div>
 -->

<!-- code for projects -->
<!-- <div class="container">
  <div class="row">
    <div class="heading-title text-center">
      <h3 class="text-uppercase">Join to different music projects </h3>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "4-piano-performance.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Amsterdam</h5>

      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "2-guitar-performance", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Madrid</h5>

      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "3-saxo-performance", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>Amsterdam</h5>

      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "4-piano-performance.jpg", class: "img-responsive" %>
        </div>
      </div>
      <div class="team-title">
        <h5>China</h5>

      </div>
    </div>
  </div>
</div> -->









