
<!-- Header with Background Image -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url('<%= cl_image_path(@project.picture) %>')">
  <div class="banner-content">
    <h1><%= @project[:title] %></h1>
  </div>
</div>

   <!--  t.string "description"
    t.string "picture"
    t.datetime "start_time"
    t.datetime "end_time"
    t.string "location" -->

<!-- Page Content -->
<div class="container">
  <div class="row">
   <div class="col-sm-4">
    <h2 class="mt-4">When:</h2>
    <ul>
      <li>Starts: <%= @project.start_time %></li>
      <li>Ends: <%= @project.end_time %></li>
      <li>Location: <%= @project.location %></li>
      <!-- <li><%= cl_image_tag(@project.user.avatar) %></li> -->
    </ul>
    <h2 class="mt-4">We are:</h2>
    <ul>
      <%= link_to musician_path(@project.user) do  %>
      <li><%= cl_image_tag(@project.user.avatar) %></li>
      <% end %>

    </ul>

  </div>
  <div class="col-sm-8">
    <h2 class="mt-4">Project:</h2>
    <p><%= @project[:description] %></p>

      <% if current_user == @project.user %>
    <p>
      <%= link_to "Edit", edit_project_path(@project), class: "btn btn-primary btn-lg" %>
      <%= link_to "Delete", project_path(@project), class: "btn btn-primary btn-lg", method: :delete,
        data: { confirm: "Are you sure?" } %></p>
      <% else %>
        <p><%= link_to "Join the project", project_path(@project) , class: "btn btn-primary btn-lg" %></p>
      <% end %>

      <p><%= link_to "New Comment", "#" %></p>
      <p><%= link_to "Back to projects", projects_path %></p>

      </div>

    </div>
  </div>







